.ad-container {
  background-color: rgb(247, 247, 247);
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 225px;
  height: 200px;
  transition: 0.3s;
  margin: 30px 10px 0 10px;
  cursor: pointer;
}
.ad-image {
  border-radius: 4px 4px 0 0;
  object-fit: cover;
  max-height: 65%;
}
